app:
  title: Backstage Platform
  baseUrl: https://backstage.${DOMAIN_NAME}

organization:
  name: Platform Engineering

backend:
  baseUrl: https://backstage.${DOMAIN_NAME}
  listen:
    port: 7007
    host: 0.0.0.0
  csp:
    connect-src: ["'self'", 'http:', 'https:']
    img-src: ["'self'", 'data:', 'https:']
  cors:
    origin: https://backstage.${DOMAIN_NAME}
    methods: [GET, HEAD, PATCH, POST, PUT, DELETE]
    credentials: true
  database:
    client: pg
    connection:
      host: ${POSTGRES_HOST}
      port: ${POSTGRES_PORT}
      user: ${POSTGRES_USER}
      password: ${POSTGRES_PASSWORD}
      database: ${POSTGRES_DB}
      ssl:
        rejectUnauthorized: false

integrations:
  github:
    - host: github.com
      token: ${GITHUB_TOKEN}

proxy:
  '/argocd/api':
    target: https://argocd.${DOMAIN_NAME}/api/v1/
    changeOrigin: true
    secure: true
    headers:
      Cookie: ${ARGOCD_AUTH_TOKEN}

techdocs:
  builder: 'external'
  generator:
    runIn: 'local'
  publisher:
    type: 'googleGcs'
    googleGcs:
      bucketName: ${TECHDOCS_BUCKET_NAME}
      credentials: ${GOOGLE_APPLICATION_CREDENTIALS}

auth:
  environment: production
  providers:
    github:
      production:
        clientId: ${GITHUB_CLIENT_ID}
        clientSecret: ${GITHUB_CLIENT_SECRET}

scaffolder:
  defaultAuthor:
    name: Backstage Platform
    email: platform@example.com
  defaultCommitMessage: 'Initial commit from Backstage'

catalog:
  import:
    entityFilename: catalog-info.yaml
    pullRequestBranchName: backstage-integration
  rules:
    - allow: [Component, System, API, Resource, Location]
  locations:
    - type: file
      target: ../../examples/entities.yaml
  providers:
    crossplane:
      dev:
        baseUrl: http://crossplane-system.svc.cluster.local
        auth:
          type: 'bearer'
          token: ${KUBERNETES_SERVICE_ACCOUNT_TOKEN}

kubernetes:
  serviceLocatorMethod:
    type: 'multiTenant'
  clusterLocatorMethods:
    - type: 'config'
      clusters:
        - url: ${KUBERNETES_URL}
          name: production
          authProvider: 'serviceAccount'
          serviceAccountToken: ${KUBERNETES_SERVICE_ACCOUNT_TOKEN}
          skipTLSVerify: false
          skipMetricsLookup: false

argocd:
  username: ${ARGOCD_USERNAME}
  password: ${ARGOCD_PASSWORD}
  appLocatorMethods:
    - type: 'config'
      instances:
        - name: argoInstance1
          url: https://argocd.${DOMAIN_NAME}
          username: ${ARGOCD_USERNAME}
          password: ${ARGOCD_PASSWORD}

azureDevOps:
  host: dev.azure.com
  token: ${AZURE_TOKEN}
  organization: ${AZURE_ORG}

signoz:
  baseUrl: http://signoz-frontend.observability.svc.cluster.local:3301

crossplane:
  baseUrl: http://crossplane-system.svc.cluster.local
  auth:
    type: 'serviceAccount'
    serviceAccountToken: ${KUBERNETES_SERVICE_ACCOUNT_TOKEN}
