apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: backstage-secrets
  namespace: backstage
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: gcpsm-cluster-store
    kind: ClusterSecretStore
  target:
    name: backstage-secrets
    creationPolicy: Owner
  data:
  - secretKey: POSTGRES_PASSWORD
    remoteRef:
      key: backstage-db-password
  - secretKey: GITHUB_TOKEN
    remoteRef:
      key: github-token
  - secretKey: GITHUB_CLIENT_ID
    remoteRef:
      key: github-oauth-client-id
  - secretKey: GITHUB_CLIENT_SECRET
    remoteRef:
      key: github-oauth-client-secret
  - secretKey: ARGOCD_USERNAME
    remoteRef:
      key: argocd-username
  - secretKey: ARGOCD_PASSWORD
    remoteRef:
      key: argocd-password
  - secretKey: ARGOCD_AUTH_TOKEN
    remoteRef:
      key: argocd-auth-token
  - secretKey: AZURE_TOKEN
    remoteRef:
      key: azure-devops-token
  - secretKey: KUBERNETES_SERVICE_ACCOUNT_TOKEN
    remoteRef:
      key: backstage-k8s-token
